{
  "extends": "@folio/eslint-config-stripes",
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-object-spread": "off",
    "no-multiple-empty-lines": "off"
  }
}
